* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: "Mulish", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #21c08b;
}

body main {
    height: 100%;
    background-color: red;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    background-color: #21c08b;
}

.header__img {
    margin-left: 10px;
    height: 60px;
    align-self: center;
}

main {
    width: 100%;
    height: inherit;
    background: linear-gradient(#21c08b, #ab88ff);
}

.login__container {
    margin: 0 auto;
    margin-top: 80px;
    width: 400px;
    height: 650px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: -5px 10px 43px -13px rgba(0, 0, 0, 0.75);
    border: 4px solid #ffffff;
    border-radius: 35px;
    padding: 55px;
}

.login__container--title {
    margin-top: 50px;
    text-align: left;
    font-size: 2rem;
    color: #ffffff;
}

.form__container {
    margin: 70px 0;
    display: flex;
    flex-direction: column;
}

.form__container .input {
    margin-bottom: 10px;
    font-size: 1.4rem;
    color: #ffffff;
    padding: 15px 15px;
    border: none;
    border-bottom: 2px solid #ffffff;
    background: transparent;
    outline: none;
}

.form__container .input::placeholder {
    color: #ffffff;
}

.form__container button {
    margin-top: 20px;
    padding: 12px 0;
    font-size: 1.4rem;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 20px;
}

.form__container--remember-me {
    margin-top: 13px;
    padding: 0 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__container--remember-me label,
a {
    color: #ffffff;
    font-size: 1.2rem;
}

.form__container--remember-me a {
    text-decoration: none;
}

.form__container--remember-me a:hover {
    text-decoration: underline;
}

.form__container--remember-me label {
    position: relative;
}
.form__container--remember-me label input {
    vertical-align: middle;
}

.form__container--social-media {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.form__container--social-media a {
    margin-bottom: 10px;
    width: 100%;
    height: 20px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.form__container--social-media a img {
    margin-right: 20px;
    width: 20px;
    height: 20px;
}

.form__container--register {
    margin-top: 50px;
}

.form__container--register p {
    color: #ffffff;
    font-size: 1.2rem;
}

.form__container--register p a {
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: bold;
}

.footer {
    margin-top: auto;
    background-color: #ab88ff;
    display: flex;
}

.footer li {
    padding: 20px;
    list-style: none;
}

.footer li a {
    color: #fff;
    text-decoration: none;
}

.footer li a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 620px) {
    .login {
        width: 320px;
        /* height: 00px; */
        background: linear-gradient(#21c08b, #ab88ff);
    }

    .login__container {
        width: 100%;
        height: 500px;
        border: none;
        box-shadow: none;
        padding: 30px;
        box-sizing: border-box;
    }

    .login__container--title {
        margin-top: 25px;
    }

    .form__container {
        margin: 25px 0;
    }

    .form__container--register {
        margin-top: 25px;
    }

    .footer {
        
        background-color: #ab88ff;
        display: flex;
        justify-content: space-around;
    }

    .footer li {
        width: 33%;
    }
}
